textbox:focus, textarea:focus, input:focus, select:focus
{
    border-top-color: rgba(121, 195, 210, 0.8) !important;
    border-right-color: rgba(63, 170, 191, 0.8) !important;
    border-bottom-color: rgba(50, 136, 153, 0.8) !important;
    border-left-color: rgba(63, 170, 191, 0.8) !important;
    box-shadow: 0pt 0pt 0pt 1px rgba(255, 255, 255, 0.3) inset, 0pt 0pt 0pt 1.5px rgba(255, 255, 255, 0.1) inset, 0pt 1px 0pt rgba(0, 0, 0, 0.1), 0pt 0pt 3.5px rgb(158, 234, 249) !important;
}